node-red/flows.json
[{"id":"8e4904da80635b6e","type":"tab","label":"Motion","disabled":false,"info":"","env":[]},{"id":"b410800b8db8d883","type":"tab","label":"Times","disabled":false,"info":"","env":[]},{"id":"f31aa826.89d938","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"233a9c63.e2baf4","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"38009ddc.858562","type":"ui_group","name":"Device management","tab":"4d997c7f.f72024","order":3,"disp":true,"width":"6","collapse":false},{"id":"f5594d13.23bec","type":"mqtt-broker","name":"mqtt","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"902c151e.212a38","type":"ui_group","name":"Device list","tab":"4d997c7f.f72024","order":1,"disp":true,"width":"6","collapse":false},{"id":"d40979a3.d11a08","type":"ui_group","name":"Bridge configuration","tab":"4d997c7f.f72024","order":5,"disp":true,"width":"6","collapse":true},{"id":"fd4925c4.d13458","type":"ui_group","name":"Network map","tab":"6db85f70.6d8a2","order":1,"disp":false,"width":"27","collapse":false},{"id":"ee188496.59ff28","type":"ui_group","name":"Device details","tab":"4d997c7f.f72024","order":2,"disp":true,"width":"6","collapse":false},{"id":"d9a11d4b.0417f","type":"ui_group","name":"Group configuration","tab":"4d997c7f.f72024","order":4,"disp":true,"width":"6","collapse":true},{"id":"4d997c7f.f72024","type":"ui_tab","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"6db85f70.6d8a2","type":"ui_tab","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"73b43c8e10806647","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1eae55a0.def48a","type":"server-state-changed","z":"8e4904da80635b6e","name":"Motion Upstairs Hall","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.upstairs_hallway_motion_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":140,"wires":[["20e71e7.43434e2"]]},{"id":"20e71e7.43434e2","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["2dfe8f66.76b6c","b09ecf879fb13451"],["2dfe8f66.76b6c"]]},{"id":"6fdd0759.c2af58","type":"api-call-service","z":"8e4904da80635b6e","name":"Hallway Light On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.upstairs_hallway_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":690,"y":140,"wires":[[]]},{"id":"f0f19d3a.54c94","type":"api-call-service","z":"8e4904da80635b6e","name":"light.upstairs_hallway_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.upstairs_hallway_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1200,"y":200,"wires":[[]]},{"id":"2dfe8f66.76b6c","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":220,"wires":[["d48f05b9.40cc48"]]},{"id":"cb2dde2c.7a181","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.upstairs_hallway_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":220,"wires":[["2dfe8f66.76b6c"],[]]},{"id":"d48f05b9.40cc48","type":"api-current-state","z":"8e4904da80635b6e","name":"light.upstairs_hallway_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.upstairs_hallway_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":200,"wires":[["f0f19d3a.54c94"],[]]},{"id":"c8b939ce.0df798","type":"comment","z":"8e4904da80635b6e","name":"Motion Light - Hallway","info":"","x":600,"y":40,"wires":[]},{"id":"b09ecf879fb13451","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"08:28","endTime":"21:00","startOffset":0,"endOffset":0,"x":560,"y":80,"wires":[["6fdd0759.c2af58"],[]],"outputLabels":["msg.payload",""]},{"id":"794c0bf123aeaaa3","type":"server-state-changed","z":"8e4904da80635b6e","name":"Motions Upstairs Bathroom","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.upstairs_hallway_motion_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":420,"wires":[["843b16c2e43353bb"]]},{"id":"843b16c2e43353bb","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":420,"wires":[["6c9aad8fde1384fe","744acb0bce539e8c"],["6c9aad8fde1384fe"]]},{"id":"3307ba2e6077ee91","type":"api-call-service","z":"8e4904da80635b6e","name":"light.upstairs_bathroom_light On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.upstairs_bathroom_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":800,"y":400,"wires":[[]]},{"id":"a660c31c81ddf4f9","type":"api-call-service","z":"8e4904da80635b6e","name":"light.upstairs_bathroom_light OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.upstairs_bathroom_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1230,"y":480,"wires":[[]]},{"id":"6c9aad8fde1384fe","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":500,"wires":[["538d37f91cc40dc7"]]},{"id":"48d56264effa399a","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.upstairs_hallway_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":500,"wires":[["6c9aad8fde1384fe"],[]]},{"id":"538d37f91cc40dc7","type":"api-current-state","z":"8e4904da80635b6e","name":"light.upstairs_bathroom_light ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.upstairs_bathroom_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":480,"wires":[["a660c31c81ddf4f9"],[]]},{"id":"cd3800f22ddb7f38","type":"comment","z":"8e4904da80635b6e","name":"Motion Light-Upstairs Bath","info":"","x":640,"y":320,"wires":[]},{"id":"744acb0bce539e8c","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"07:28","endTime":"22:00","startOffset":0,"endOffset":0,"x":520,"y":360,"wires":[["3307ba2e6077ee91"],[]],"outputLabels":["msg.payload",""]},{"id":"2d7848bd0dae041a","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.office_motion_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":740,"wires":[["a3f69eb7b735b70c"]]},{"id":"a3f69eb7b735b70c","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":680,"wires":[["b6d847787568ba8e","6216393873ea8e1f"],["b6d847787568ba8e"]]},{"id":"c34ec584e7066790","type":"api-call-service","z":"8e4904da80635b6e","name":"light.office_overhead_lights_2 On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_overhead_lights_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":860,"y":680,"wires":[[]]},{"id":"bff1fa0fb52fd061","type":"api-call-service","z":"8e4904da80635b6e","name":"light.office_overhead_lights_2 OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_overhead_lights_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1240,"y":740,"wires":[[]]},{"id":"b6d847787568ba8e","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":680,"y":760,"wires":[["59dae398747477f4"]]},{"id":"a808208ed460dc17","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.office_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":780,"wires":[["b6d847787568ba8e"],[]]},{"id":"59dae398747477f4","type":"api-current-state","z":"8e4904da80635b6e","name":"light.office_overhead_lights_2 ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.office_overhead_lights_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":940,"y":740,"wires":[["bff1fa0fb52fd061"],[]]},{"id":"27bc03522919df0b","type":"comment","z":"8e4904da80635b6e","name":"Motion Light-Office","info":"","x":510,"y":560,"wires":[]},{"id":"6216393873ea8e1f","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"07:28","endTime":"22:00","startOffset":0,"endOffset":0,"x":600,"y":620,"wires":[["c34ec584e7066790"],[]],"outputLabels":["msg.payload",""]},{"id":"e2588de1e5333d64","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":960,"wires":[["28b421d4628dbb04","292187b3a82b278b"],["28b421d4628dbb04"]]},{"id":"4926ac6435a1069b","type":"api-call-service","z":"8e4904da80635b6e","name":"light.sewing_room_overhead_lights On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sewing_room_overhead_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":890,"y":960,"wires":[[]]},{"id":"989d4a5b4aaa735b","type":"api-call-service","z":"8e4904da80635b6e","name":"light.sewing_room_overhead_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.sewing_room_overhead_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1440,"y":1020,"wires":[[]]},{"id":"28b421d4628dbb04","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":680,"y":1040,"wires":[["2ff424e1c1f42121"]]},{"id":"e710f84f1995ab8a","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sewing_room_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":1080,"wires":[["28b421d4628dbb04"],[]]},{"id":"2ff424e1c1f42121","type":"api-current-state","z":"8e4904da80635b6e","name":"light.sewing_room_overhead_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.sewing_room_overhead_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":970,"y":1020,"wires":[["989d4a5b4aaa735b"],[]]},{"id":"5ad4f449cce39733","type":"comment","z":"8e4904da80635b6e","name":"Motion Light-Sewing Room","info":"","x":660,"y":860,"wires":[]},{"id":"292187b3a82b278b","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"07:28","endTime":"22:00","startOffset":0,"endOffset":0,"x":600,"y":900,"wires":[["4926ac6435a1069b"],[]],"outputLabels":["msg.payload",""]},{"id":"6cd20110226800c6","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.downstairs_hall_motion_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":1360,"wires":[["d5843fb9f11f7de6"]]},{"id":"d5843fb9f11f7de6","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1300,"wires":[["5e44b4883eb5db3a","e652d40b594d116f"],["5e44b4883eb5db3a"]]},{"id":"831208a88dd915f8","type":"api-call-service","z":"8e4904da80635b6e","name":"light.downstairs_hall_light On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.downstairs_hall_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":970,"y":1280,"wires":[[]]},{"id":"bd3e9e50da1d58f0","type":"api-call-service","z":"8e4904da80635b6e","name":"light.downstairs_hall_light OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.downstairs_hall_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1260,"y":1360,"wires":[[]]},{"id":"5e44b4883eb5db3a","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":700,"y":1360,"wires":[["f40335de2184d0a9"]]},{"id":"e028c62ad6e313bb","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.downstairs_hall_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":1440,"wires":[["5e44b4883eb5db3a"],[]]},{"id":"f40335de2184d0a9","type":"api-current-state","z":"8e4904da80635b6e","name":"light.downstairs_hall_light ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.downstairs_hall_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":1360,"wires":[["bd3e9e50da1d58f0"],[]]},{"id":"9fbdaf5eba2b16bf","type":"comment","z":"8e4904da80635b6e","name":"Motion Light-Downstairs Hall","info":"","x":690,"y":1200,"wires":[]},{"id":"e652d40b594d116f","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"09:28","endTime":"22:00","startOffset":0,"endOffset":0,"x":620,"y":1240,"wires":[["831208a88dd915f8"],[]],"outputLabels":["msg.payload",""]},{"id":"d55e1a081ac11010","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_motion_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":300,"y":1680,"wires":[["39fa99a58b9dca7a"]]},{"id":"39fa99a58b9dca7a","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1620,"wires":[["bc2a9839d6d3472f","842057658ee684c4"],["bc2a9839d6d3472f"]]},{"id":"2ef642e93bb5bbc5","type":"api-call-service","z":"8e4904da80635b6e","name":"light.garage_overhead_lights On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.garage_overhead_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1050,"y":1600,"wires":[[]]},{"id":"b7321340bcc64084","type":"api-call-service","z":"8e4904da80635b6e","name":"light.garage_overhead_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.garage_overhead_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1470,"y":1660,"wires":[[]]},{"id":"bc2a9839d6d3472f","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":770,"y":1680,"wires":[["370a9516172b5667"]]},{"id":"2dcbc28c12320689","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":320,"y":1760,"wires":[["bc2a9839d6d3472f"],[]]},{"id":"370a9516172b5667","type":"api-current-state","z":"8e4904da80635b6e","name":"light.garage_overhead_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_overhead_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1030,"y":1680,"wires":[["b7321340bcc64084"],[]]},{"id":"842057658ee684c4","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"07:28","endTime":"22:00","startOffset":0,"endOffset":0,"x":680,"y":1560,"wires":[["2ef642e93bb5bbc5"],[]],"outputLabels":["msg.payload",""]},{"id":"87f7711c051eec31","type":"comment","z":"8e4904da80635b6e","name":"Motion Light-Garage","info":"","x":680,"y":1480,"wires":[]},{"id":"52120f34bf76927e","type":"api-call-service","z":"8e4904da80635b6e","name":"light.living_room_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1380,"y":1960,"wires":[[]]},{"id":"c1959a2e196c2924","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":1960,"wires":[["87b4c64e5a30cd21"]]},{"id":"a3369d5ec562cdbb","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.living_room_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":1960,"wires":[["c1959a2e196c2924"],[]]},{"id":"87b4c64e5a30cd21","type":"api-current-state","z":"8e4904da80635b6e","name":"light.living_room_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":940,"y":1960,"wires":[["52120f34bf76927e"],[]]},{"id":"04fb4623beeda35c","type":"comment","z":"8e4904da80635b6e","name":"Motion Light- Living Room (Off Only)","info":"","x":670,"y":1860,"wires":[]},{"id":"7abb3ff80374868c","type":"api-call-service","z":"8e4904da80635b6e","name":"light.champagne_room_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.champagne_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1380,"y":2140,"wires":[[]]},{"id":"6064188f8483f518","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":2140,"wires":[["e914b6fbb9ba8138"]]},{"id":"51f03f350e47d33f","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.champagne_room_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":2140,"wires":[["6064188f8483f518"],[]]},{"id":"e914b6fbb9ba8138","type":"api-current-state","z":"8e4904da80635b6e","name":"light.champagne_room_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.champagne_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":960,"y":2140,"wires":[["7abb3ff80374868c"],[]]},{"id":"0bb4d149ba6ba9f6","type":"comment","z":"8e4904da80635b6e","name":"Motion Light- Champagne (Off Only)","info":"","x":670,"y":2040,"wires":[]},{"id":"ba3a5457f4a6f2b9","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":2320,"wires":[["6c841ff6d499336e","4b4ed9e9c2ebb227"],["6c841ff6d499336e"]]},{"id":"41343227f2e7ae9e","type":"api-call-service","z":"8e4904da80635b6e","name":"light.kitchen_lights On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_overhead_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1160,"y":2300,"wires":[[]]},{"id":"237ef63606c9c791","type":"api-call-service","z":"8e4904da80635b6e","name":"light.kitchen_overhead_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kitchen_overhead_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1300,"y":2380,"wires":[[]]},{"id":"6c841ff6d499336e","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":2400,"wires":[["238b79dfd191afb5"]]},{"id":"91b9dd528cd73795","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":2400,"wires":[["6c841ff6d499336e"],[]]},{"id":"238b79dfd191afb5","type":"api-current-state","z":"8e4904da80635b6e","name":"light.kitchen_overhead_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kitchen_overhead_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":2380,"wires":[["237ef63606c9c791"],[]]},{"id":"d2647e4ef1427d5a","type":"comment","z":"8e4904da80635b6e","name":"Motion Light - Kitchen","info":"","x":590,"y":2220,"wires":[]},{"id":"4b4ed9e9c2ebb227","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"08:28","endTime":"21:00","startOffset":0,"endOffset":0,"x":920,"y":2300,"wires":[["41343227f2e7ae9e"],[]],"outputLabels":["msg.payload",""]},{"id":"72a23bef29a12513","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sewing_room_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":1040,"wires":[["e2588de1e5333d64"]]},{"id":"22b4843ca53f4d80","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_sensor_occupancy","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":2360,"wires":[["ba3a5457f4a6f2b9"]]},{"id":"1bf752b5d1ccb66a","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":2680,"wires":[["0e083331db1688fc","89d0a5706a92373b"],["0e083331db1688fc"]]},{"id":"a4178464fbea44f3","type":"api-call-service","z":"8e4904da80635b6e","name":"light.front_outdoor_lights On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_outdoor_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1260,"y":2620,"wires":[[]]},{"id":"aa1fb7671f282155","type":"api-call-service","z":"8e4904da80635b6e","name":"light.front_outdoor_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.front_outdoor_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1550,"y":2740,"wires":[[]]},{"id":"0e083331db1688fc","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":950,"y":2740,"wires":[["48343591f4d0d999"]]},{"id":"cbc88e275c383d81","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.left_yard_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":2740,"wires":[["0e083331db1688fc"],[]]},{"id":"48343591f4d0d999","type":"api-current-state","z":"8e4904da80635b6e","name":"light.front_outdoor_lights ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.front_outdoor_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1190,"y":2740,"wires":[["aa1fb7671f282155"],[]]},{"id":"02d22cd35d4220a9","type":"comment","z":"8e4904da80635b6e","name":"Motion Light - Front/Side Cameras","info":"","x":960,"y":2560,"wires":[]},{"id":"89d0a5706a92373b","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"00:01","endTime":"07:30","startOffset":0,"endOffset":0,"x":970,"y":2620,"wires":[["a4178464fbea44f3"],[]],"outputLabels":["msg.payload",""]},{"id":"1778f18e37125bbb","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.left_yard_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":2580,"wires":[["1bf752b5d1ccb66a"]]},{"id":"839bcbc811603e88","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":2620,"wires":[["1bf752b5d1ccb66a"]]},{"id":"cbc508382a6abdcd","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":2780,"wires":[["0e083331db1688fc"]]},{"id":"56abecbf6e553c18","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_doorbell_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":2660,"wires":[["1bf752b5d1ccb66a"]]},{"id":"d997acc0cbc79d22","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_doorbell_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":2820,"wires":[["0e083331db1688fc"]]},{"id":"e373f3cc2aba08e2","type":"switch","z":"8e4904da80635b6e","name":"switch on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":2960,"wires":[["b991c0df53efc7e0","bca75e16ca7c5330"],["b991c0df53efc7e0"]]},{"id":"272be36145c1c027","type":"api-call-service","z":"8e4904da80635b6e","name":"Side Lights On","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_outdoor_light","light.sliding_door_outdoor_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1220,"y":2900,"wires":[[]]},{"id":"595e25dbad788407","type":"api-call-service","z":"8e4904da80635b6e","name":"light.front_lights OFF","server":"233a9c63.e2baf4","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.sliding_door_outdoor_light","light.sliding_door_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1620,"y":3000,"wires":[[]]},{"id":"b991c0df53efc7e0","type":"trigger","z":"8e4904da80635b6e","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":950,"y":3020,"wires":[["799cf5e5f9e59a7b","380de225be6f25bb"]]},{"id":"799cf5e5f9e59a7b","type":"api-current-state","z":"8e4904da80635b6e","name":"light.kitchen_outdoor_light ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kitchen_outdoor_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1190,"y":3000,"wires":[["595e25dbad788407"],[]]},{"id":"785fedbbc45cf7af","type":"comment","z":"8e4904da80635b6e","name":"Motion Light - Back Side Cameras","info":"","x":960,"y":2840,"wires":[]},{"id":"bca75e16ca7c5330","type":"time-range-switch","z":"8e4904da80635b6e","name":"","lat":"","lon":"","startTime":"00:01","endTime":"07:30","startOffset":0,"endOffset":0,"x":970,"y":2900,"wires":[["272be36145c1c027"],[]],"outputLabels":["msg.payload",""]},{"id":"49af96694cb4f197","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.left_back_yard_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":2900,"wires":[["e373f3cc2aba08e2"]]},{"id":"774d11a4b9669613","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.left_back_yard_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":3060,"wires":[["b991c0df53efc7e0"]]},{"id":"08b4c784f082a9c9","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.backyard_cam_2_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":2940,"wires":[["e373f3cc2aba08e2"]]},{"id":"b4a0af39f07a02ce","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.backyard_cam_2_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":3100,"wires":[["b991c0df53efc7e0"]]},{"id":"2db795a4636631e8","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.right_backyard_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":2980,"wires":[["e373f3cc2aba08e2"]]},{"id":"9cc1055aae12bb7c","type":"server-state-changed","z":"8e4904da80635b6e","name":"","server":"233a9c63.e2baf4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.right_backyard_person_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":3140,"wires":[["b991c0df53efc7e0"]]},{"id":"380de225be6f25bb","type":"api-current-state","z":"8e4904da80635b6e","name":"light.sliding_door_outdoor_light ON","server":"233a9c63.e2baf4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.sliding_door_outdoor_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1200,"y":3040,"wires":[["595e25dbad788407"],[]]}]